@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");
@keyframes bounce {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-12px); } }

html {
  scroll-behavior: smooth; }

.bounce-mobile {
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.App-mobile {
  text-align: center;
  background: linear-gradient(to bottom right, #8adbcd, #8adbcd 5%, #65ccbb, #65ccbb 25%, #57ba98 25%, #57ba98 85%, #65ccbb 85%, #65ccbb, #8adbcd 5%, #8adbcd);
  min-height: 500px;
  transition: all ease 0.1s;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

div.sections-bar-mobile {
  display: flex;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 3px; }
  div.sections-bar-mobile > a {
    text-decoration: none; }
    div.sections-bar-mobile > a > div.sections-content-mobile {
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: white;
      background-color: rgba(41, 89, 59, 0.5);
      color: white;
      flex-grow: 1;
      display: table;
      padding: 13px;
      font-family: Poppins;
      margin-right: 5px;
      height: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      transition: background-color ease 0.2s; }
      div.sections-bar-mobile > a > div.sections-content-mobile:hover {
        background-color: rgba(70, 145, 98, 0.5); }

.btn-mobile {
  color: white;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  margin-bottom: 10px;
  padding: 7px; }
  .btn-mobile:hover {
    background-color: #5688c2; }

.contact-mobile {
  background-color: gray; }

div.content-mobile {
  width: 100%; }
  div.content-mobile h1 {
    margin-top: 0; }

.workplace-mobile {
  position: "relative"; }

a.jump-links-mobile {
  text-decoration: none;
  color: black; }

.punc-mobile {
  color: #3b945e; }

#home-content-mobile {
  color: white;
  position: relative; }

#cover-content-mobile {
  color: white;
  position: relative;
  height: calc(100vh - 70px);
  overflow: auto; }

#about-me-content-mobile {
  color: white;
  position: relative;
  width: 100%;
  background: radial-gradient(ellipse at bottom left, #f7f4ec, #f7f4ec 50%, #f2ebda 50%, #f2ebda 71%, transparent 71%, transparent), linear-gradient(to bottom, transparent, transparent 25%, #f7f4ec 25%, #f7f4ec);
  padding: 40px;
  margin-top: 80px;
  box-sizing: border-box; }

#workplaces-content-mobile {
  color: white;
  position: relative;
  background: linear-gradient(120deg, lightgray, lightgray 18%, #e2e2e2 18%, whitesmoke 50%, #e2e2e2 88%, lightgray 88%, lightgray);
  overflow: auto;
  padding-bottom: 50px; }
  #workplaces-content-mobile .timeline-mobile {
    position: relative;
    min-height: 500px;
    overflow: auto; }
    #workplaces-content-mobile .timeline-mobile::before {
      content: '';
      height: 100%;
      width: 4px;
      left: 10%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.5); }

#projects-content-mobile {
  color: white;
  position: relative;
  background: linear-gradient(to bottom left, #f2ebda, #f2ebda 22%, transparent 22%, transparent 70%, #f2ebda 70%, #f2ebda), linear-gradient(to bottom right, #f5edde, #f5edde 10%, #f7f4ec 10%, #f7f4ec 90%, #f5edde 90%, #f5edde);
  padding: 25px;
  min-height: 50vh;
  box-sizing: border-box; }
  #projects-content-mobile .project-details-mobile {
    background-color: #f7f4ec;
    padding: 10px; }

#hobbies-content-mobile {
  color: white;
  position: relative;
  background: linear-gradient(to bottom right, #dbf1db, #dbf1db 10%, #b5dfb5 10%, #b5dfb5 30%, #dbf1db 30%, #dbf1db 70%, #b5dfb5 70%, #b5dfb5, 90%, #dbf1db 90%, #dbf1db);
  padding: 25px;
  min-height: 50vh;
  padding-bottom: 40px;
  overflow: hidden; }

.social-media-icon-mobile:hover {
  transform: scale(1.2);
  transition: all ease 0.2s; }

footer {
  background-color: #182628;
  padding: 20px; }
