@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");
@keyframes bounce {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-12px); } }

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite; }

.App {
  text-align: center;
  background-image: url(../resources/images/wallpaper.png);
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.App-logo {
  height: 20vmin;
  margin-bottom: 15px;
  border-radius: 20%;
  border-style: solid;
  border-color: #e4e3e3;
  border-width: 3px; }

.App-header {
  color: white; }
  .App-header__icon {
    top: 5px; }

.App-link {
  color: #61dafb; }

.btn {
  color: white;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  margin-bottom: 10px;
  padding: 7px; }
  .btn:hover {
    background-color: #5688c2; }

.contact {
  background-color: gray; }

div.content {
  width: 100%;
  padding-top: 20px; }
  div.content h1 {
    margin-top: 0; }

.workplace {
  margin: auto; }

a.jump-links {
  text-decoration: none;
  color: black; }

#home-content {
  color: white;
  position: relative;
  background: #dddddd;
  padding: 40px;
  min-height: 50vh;
  color: #5c5c5c; }

#projects-content {
  color: white;
  position: relative;
  background: #f7f4ec;
  padding: 25px;
  min-height: 50vh;
  box-sizing: border-box; }
  #projects-content .project-details {
    background-color: #f0f0f0;
    padding: 10px; }

#hobbies-content {
  color: white;
  position: relative;
  padding-bottom: 40px;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../resources/images/gcwallpaper.png);
  background-attachment: fixed;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: calc(1.2 * 100%); }

.social-media-icon:hover {
  transform: scale(1.2);
  transition: all ease 0.2s; }
