@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

$sections: 'home', 'projects', 'contact';
$dark-text: rgb(92, 92, 92);
$dark-text-blue: #1a3057;

@mixin section($color, $min-height: 50vh, $padding: 25px){
  background-color: $color;
  padding: $padding;
  min-height: $min-height;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

.bounce {
  animation-name: bounce;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.App {
    text-align: center;
    background-image: linear-gradient(to bottom right, #9fb8ad 0%, #1fc8db 75%, #2cb5e8 95%);
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
.App-logo {
  height: 20vmin;
  margin-bottom: 15px;
  border: {
    radius: 20%;
    style: solid;
    color: rgb(228, 227, 227);
    width: 3px;
  }
}

.App-header {
  color: white;

  &__icon {
    position: relative;
    top: 5px;
  }
}

.App-link {
  color: #61dafb;
}

.btn {
  color: white;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  margin-bottom: 10px;
  padding: 7px;

  &:hover {
    background-color: #5688c2;
  }
}

.contact {
  background-color: gray;
}

div.content {
  position: relative;
  width: 100%;
  padding-top: 20px;

  h1 {
    margin-top: 0;
  }
}

@each $section in $sections {
  ##{$section}-content {
    color: white;
    position: relative;

    @if $section == 'home' {
      @include section(rgb(221, 221, 221), 50vh, 40px);
      color: $dark-text;
    } @else if $section == 'projects' {
      @include section(rgba(23, 39, 126, 0.664));
      box-sizing: border-box;
    } @else if $section == 'contact' {
      @include section(rgb(221, 221, 221), 15vh);
      color: $dark-text-blue;
      display: flex;
      flex-direction: column;
      justify-content: center;

      > h1 {
        margin-top: 0;
      }

      > * {
        position: relative;
        bottom: 20px;
      }
    }
  }
}

.contact-links > a {
  text-decoration: none;

  > i {
    margin: 20px;
    color: $dark-text-blue;
    font-size: 40px;

    &:hover {
      color: gray;
    }
  }
}