.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 20vmin;
  border-radius: 20%;
  margin-bottom: 15px;
  border-style: solid;
  border-color: rgb(228, 227, 227);
  border-width: 3px;
}

.App-header {
  background-color: #1a3057;
  min-height: 100vh;
  flex-grow: 1;
  max-width: 20%;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px 0;
}

.App-link {
  color: #61dafb;
}

.btn {
  color: white;
  text-decoration: none;
  display: block;
  font-family: sans-serif;
  margin-bottom: 10px;
  padding: 7px;
}

.btn:hover {
  background-color: #5688c2;
}

.contact {
  background-color: gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
